<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" culture="neutral" publicKeyToken="c5687fc88969c44d"/>
        <codeBase version="6.9.9.0" href="3rdparty/mysql-connector-net-6.9.9/v4.5/MySql.Data.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data.Entity.EF5" culture="neutral" publicKeyToken="c5687fc88969c44d"/>
        <codeBase version="6.9.9.0" href="3rdparty/mysql-connector-net-6.9.9/v4.5/MySql.Data.Entity.EF5.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data.Entity.EF6" culture="neutral" publicKeyToken="c5687fc88969c44d"/>
        <codeBase version="6.9.9.0" href="3rdparty/mysql-connector-net-6.9.9/v4.5/MySql.Data.Entity.EF6.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Fabric.Plugin" culture="neutral" publicKeyToken="c5687fc88969c44d"/>
        <codeBase version="6.9.9.0" href="3rdparty/mysql-connector-net-6.9.9/v4.5/MySql.Fabric.Plugin.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Web" culture="neutral" publicKeyToken="c5687fc88969c44d"/>
        <codeBase version="6.9.9.0" href="3rdparty/mysql-connector-net-6.9.9/v4.5/MySql.Web.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <codeBase version="9.0.0.0" href="3rdparty/Json90r1/Bin/Net45/Newtonsoft.Json.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FileHelpers" culture="neutral" publicKeyToken="3e0c08d59cc3d657"/>
        <codeBase version="3.1.5.0" href="3rdparty/FileHelpers/net45/FileHelpers.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>